{% load staticfiles %}
<!DOCTYPE html>
<html>
 <head>
   <meta charset="utf-8" />
   <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }}{% else %}Tipsoni{% endif %} | {% block head_title %}{% endblock %}{% endblock %}</title>
   {% block viewport %}
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   {% endblock %}

   {% block styles %}{% endblock %}


  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   <!-- Bootstrap core CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="{% static 'tipsoni/css/tipsoni.css' %}">
   <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Josefin+Sans:700,700italic,400,400italic,700normal,100,600|Raleway:100,400,500,600,700,300,300italic,700normal,700italic">

    {% block html5shim %}
        <!-- HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
        <![endif]-->
    {% endblock %}

    {% block extra_head_base %}
        {% block extra_head %}{% endblock %}
    {% endblock %}
 </head>
 <body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}" {% block body_extra_attributes %}{% endblock %}>
   <div class="{% block wrapper_class %}{% endblock %}">

   {% block topbar_base %}
    {% include "tipsoni/header.html" %}
   {% endblock %}
   {% block body_base %}
       <section id="content_body">
           <div class="container">
               {% include "_messages.html" %}
               {% block body %}
               {% endblock %}
           </div>
       </section>
   {% endblock %}
   {% block footer_base %}
       <hr />
       <footer>
           <div class="container">
               {% block footer %}{% endblock %}
           </div>
       </footer>
   {% endblock %}

   {% block scripts %}{% endblock %}
   {% block javascript %}{% endblock %}
   {% block theme_script %}
       <script type='text/javascript' src="{% static 'tipsoni/js/tipsoni.js' %}"></script>
   {% endblock %}

   {% block extra_body_base %}
     {% block extra_body %}{% endblock %}
   {% endblock %}
 </body>
</html>
