{% load i18n %}
{% load account_tags %}


  <header>
      <div class="navbar navbar-default {% block navbar_class %}navbar-fixed-top{% endblock %}">
          <div class="container">
          {% block topbar %}
              <div class="navbar-header">
                  <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                      <span class="fa fa-bars"></span>
                  </button>
                  {% block site_brand %}<a class="navbar-brand" href="{% url "home" %}">{% if SITE_NAME %}{{ SITE_NAME }}{% else %}Tipsoni{% endif %}</a>{% endblock %}
              </div>
              <div class="collapse navbar-collapse navbar-responsive-collapse">
                  {% block nav %}
                      {% comment %}
                          <ul class="nav navbar-nav">
                              <li><a href="#tab_one">One</a></li>
                              <li><a href="#tab_two">Two</a></li>
                          </ul>
                      {% endcomment %}
                  {% endblock %}
                  {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
              </div>
          {% endblock %}
          </div>
      </div>
  </header>
