{% extends "tipsoni/base.html" %}
{% load staticfiles %}

{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static 'handsontable/handsontable.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'pikaday/pikaday.css' %}">

  <link rel="stylesheet" type="text/css" href="{% static 'bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}">
  <link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet"/>
{% endblock %}

{% block body_container%}container-fluid{% endblock %}

{% block body %}

<div class="row">
  <div class="col-md-2 text-right">
    Week Ending:
  </div>
  <div class="col-md-10">
    <span class="click" style="display: inline" title="Click to edit..." id="weekending" data-type="date" data-mode="inline" data-format="dd/mm/yyyy">23/10/2016</span>
  </div>
</div>
<br/>
<div class="row">
  <div class="col-md-10">

    <table class="hours-table">
      <tr class="date-row">
        <td></td>
        {% for i in '6543210' %}
        <td class="date" data-daysback="{{ i }}"></td>
        {% endfor %}
        <td></td>
      </tr>
      <tr class="open-closed-row">
        <td></td>
        <td>CLOSED</td>
        <td>OPEN</td>
        <td>OPEN</td>
        <td>OPEN</td>
        <td>OPEN</td>
        <td>OPEN</td>
        <td>OPEN</td>
        <td></td>
      </tr>
      <tr class="dayofweek-row">
        <td>Employee Service Hours</td>
        {% for i in '6543210' %}
        <td class="dayofweek" data-daysback="{{ i }}"></td>
        {% endfor %}
        <td>TOTALS</td>
      </tr>
      {% for s in staff %}
        <tr id="staff-{{ s.id }}" class="staff-row">
          <td>{{s.name}}</td>
          {% for _ in '1234567' %}
            <td data-type="number"><span class="click hours"></span></td>
          {% endfor %}
          <td class="total-row"></td>
        </tr>
      {% endfor %}
    </table>

<br/><br/>

    <table class="tips-table">
      <tr class="date-row">
        <td></td>
        {% for i in '6543210' %}
        <td class="date" data-daysback="{{ i }}"></td>
        {% endfor %}
        <td></td>
      </tr>
      <tr class="dayofweek-row">
        <td>Employee Service Hours</td>
        {% for i in '6543210' %}
        <td class="dayofweek" data-daysback="{{ i }}"></td>
        {% endfor %}
        <td>TOTALS</td>
      </tr>

      <tr id="tips-cash" class="tips-row">
        <td>Total Cash</td>
        {% for i in '1234567' %}
          <td data-type="number" data-col="{{ i }}"><span class="click tips"></span></td>
        {% endfor %}
        <td class="total-row"></td>
      </tr>
      <tr id="tips-eft" class="tips-row">
        <td>Total EFT</td>
        {% for i in '1234567' %}
          <td data-type="number" data-col="{{ i }}"><span class="click tips"></span></td>
        {% endfor %}
        <td class="total-row"></td>
      </tr>
      <tr id="tips-surcharge" class="tips-row">
        <td>Total Surcharge</td>
        {% for i in '1234567' %}
          <td data-type="number" data-col="{{ i }}"><span class="click tips"></span></td>
        {% endfor %}
        <td class="total-row"></td>
      </tr>

      <tr id="tips-total" class="tips-row-total">
        <td>Total</td>
        {% for i in '1234567' %}
          <td data-type="number" data-col="{{ i }}"><span class=""></span></td>
        {% endfor %}
        <td class="total-row"></td>
      </tr>

      <tr id="tips-total" class="weekly-tips-row-total">
        <td>Weekly Total Tips</td>
        <td class="weekly-total"></td>
      </tr>
    </table>


  </div>
  <div class="col-2-md">
    <span class="small">*Note: Only include service (tippable) hours in the adjacent columns. Do not include set up or pack down hours.</span>
  </div>
</div>
<br/><br/>

<button id='calc' class="btn btn-lg">Calculate</button>



<div id="example-x"></div>

{% endblock %}


{% block scripts %}
<script type='text/javascript' src="{% static 'bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>


    <script type='text/javascript' src="{% static 'pikaday/pikaday.js' %}"></script>
    <script type='text/javascript' src="{% static 'moment/moment.js' %}"></script>
    <script type='text/javascript' src="{% static 'zeroclipboard/ZeroClipboard.js' %}"></script>
    <script type='text/javascript' src="{% static 'numbro/numbro.js' %}"></script>
    <script type='text/javascript' src="{% static 'numbro/languages.js' %}"></script>
    <script type='text/javascript' src="{% static 'handsontable/handsontable.min.js' %}"></script>
{% endblock %}
