body{
  padding-top:70px;
}
.navbar-brand{
  font-family: Josefin Sans, sans-serif;
}


table {
    border-collapse: collapse;
}
td {
    border: 1px solid black;
    text-align: center;
}

.hours-table,
.tips-table{
  width:100%;
}
.date-row,.dayofweek-row,.open-closed-row{
  font-weight: bold;
}


.date-row td:first-child,
.open-closed-row td:first-child,
.date-row td:last-child,
.open-closed-row td:last-child{
  border:none;
}

.hours-table tr td,
.tips-table tr td{
  width:10%;
}

.hours-table tr td:first-child,
.tips-table tr td:first-child{
  width:20%;
  font-weight: bold;
}
